// -----------------------------------------------------------------------------
// Estilos básicos
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: $text-font;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
  line-height: $text-line-height;
  letter-spacing: 0.03rem;
  color: $default-text-color;
  background-color: $body-color;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 25px 0;
}

h1 {
  font-size: 4.125rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $color-gray-500;

  &:hover {
    color: $color-primary;
  }
}

input::placeholder {
  color: $color-secondary;
}

img,
svg {
  vertical-align: middle;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;

  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

ol,
ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
}

small {
  color: $color-error;
  margin-top: 0.5rem;
  display: block;
}

.error {
  border-color: $color-error !important;
}
