// -----------------------------------------------------------------------------
// Estilos de los botones
// -----------------------------------------------------------------------------
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: $button-color;
  background-color: $button-background;
  border-color: $button-border-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid $button-border-color;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: $button-hover-color;
    background-color: $button-hover-background;
    border-color: $button-hover-border-color;
  }
}

.button-rounded {
  margin-top: 1.5rem;
  padding: 10px 30px;
  font-size: 1rem;
  color: $color-secondary;
  border: 1px solid transparent;
  background-color: transparent;
  border-color: $color-gray-200;
  border-radius: 50rem;
  text-transform: capitalize;

  svg {
    margin-left: 0.5rem;
  }
  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.button-small {
  font-size: 1.3rem;
  color: $color-secondary;
  border: 1px solid transparent;
  background-color: transparent;
  border-color: $color-gray-200;
  border-radius: 10rem;
}

.button-cartpopup {
  font-size: 1rem;
  color: $color-secondary;
  border: 1px solid transparent;
  background-color: transparent;
  border-color: $color-gray-200;
  border-radius: 10rem;
  padding: 0.25rem 0.5rem;
}
