// -----------------------------------------------------------------------------
// Estilos de una card
// -----------------------------------------------------------------------------

.card__description {
  padding: 20px;
}
.card__description-title {
  font-weight: 700;
}

.card__description-text {
  margin-bottom: 0.75 rem;
}
.card__description-price {
  color: $color-primary;
}

.card__image {
  text-align: center;
}

.card__image-fluid {
  object-fit: cover;
}
