// -----------------------------------------------------------------------------
// Estilos del products listing page
// -----------------------------------------------------------------------------
.products__main {
  margin-top: 3rem;
}

.products__icon {
  text-align: center;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product__card {
  background: #fafafa;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px;
  width: 300px;
  transition: box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: 4px 4px 17px grey;
    transform: translate(-3px, -3px);
  }
}
