// -----------------------------------------------------------------------------
// Estilos de los formularios
// -----------------------------------------------------------------------------
.form__control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $default-text-color;
  appearance: none;
  background-color: $body-color;
  background-clip: padding-box;
  border: 1px solid;
  padding-left: 1rem;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &[type="file"] {
    overflow: hidden;
  }

  &:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &::placeholder {
    color: $color-secondary;
    opacity: 1;
  }

  &:hover:not(:disabled) {
    background-color: #e9ecef;
  }

  &::-webkit-file-upload-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: $body-color;
    background-color: $color-tertiary;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -1rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: $body-color;
    background-color: $color-primary;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: $color-secondary;
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $color-secondary;
  }
}

.form__select {
  $select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $dropdown-color;
  appearance: none;
  background-color: $dropdown-background;
  background-image: $select-bg-img;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1 solid $dropdown-border;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1.5rem;

  &:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}

.form__check {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  appearance: none;
  background-color: $dropdown-background;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid $checkbox-border;
  border-radius: 0.25em;
  box-shadow: none;

  &:checked[type="checkbox"] {
    $checkbox-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-image: $checkbox-bg-img;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.form__row-double {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;

  & div {
    width: 100%;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include respond-to("large") {
    flex: 0 0 auto;
    width: 100%;
  }
}

.form__row-single {
  margin-bottom: 1rem;
  display: flex;

  & div {
    width: 100%;
  }

  & .form__control {
    padding-left: 1rem;
    margin-right: 0;
  }

  @include respond-to("large") {
    flex: 0 0 auto;
    width: 100%;
  }
}

.form__row-grid {
  display: grid;
}

.form__row {
  margin-bottom: 1rem;

  & .form__control {
    padding-left: 1rem;
    margin-right: 0;
  }
}

.form__controlgroup {
  flex: 1 1 auto;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}
